.navbar {
  max-width: 100%;
  height: 5rem;
  background-color: #043565;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo label {
  color: white;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  text-shadow: none;
  margin-left: 20px;
}

.first-portion {
  display: flex;
  align-items: center;
}

body{
  margin: 0;
}

@media (max-width: 500px) {
  .navbar {
    height: auto;
    width: auto;
  }

  .logo label {
    margin-left: 0;
    margin-bottom: 10px;
    font-size: 10px;
  }

  .first-portion {
    width: 100%;
    justify-content: center;
  }
}


